{% extends "index.html" %} {% block title %}Contact Us{% endblock %} {% block
content %}

<body>
    <p class="text-center"> </p>
  </div>
    <div class="container">
        <div class="card">
        <div class="card-body">
           
        <h2>Contact Us</h2>
            <div class="mx-auto p-2" style="width: 200px;"></div>
        <div class="row">
            <div class="contact-item">
                <h3>Address</h3>
                <p>123 Pharmacy Street,<br>Health City, HC 54321</p>
            </div>
            <div class="contact-item">
                <h3>Phone</h3>
                <p>(123) 456-7890</p>
            </div>
            <div class="contact-item">
                <h3>Email</h3>
                <p>support@pharmacy.com</p>
            </div>
        </div>

        <div class="row">
            <form action="submit_contact.php" method="post">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required>

                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>

                <label for="message">Message</label>
                <textarea id="message" name="message" rows="5" class="form-control" placeholder="Your message here..." required></textarea>

                <input class="btn btn-primary" class="form-control" type="submit" value="Submit">
            </form>
        </div>
    </div>

</body>

{% endblock %}
