{% extends "index.html" %} {% block title %}Home Page{% endblock %} {% block
    content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Top 25 Drugs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Top 25 Drugs</h2>
    
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>Drug Name</th>
                <th>Manufacturer</th>
                <th>Drug Description</th>
            </tr>
        <tbody>
            <!--Loop through the table_data variable passed from app.py-->
            {% for item in table_data %}
            <tr>
                <td>{{ item.drug_name }}</td>
                <td>{{ item.manufacturer }}</td>
                <td>{{ item.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>